<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.robertoriv.yubikey</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2BA3D47D-1AA5-429C-98B8-1BA91B15D0EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30FF9E19-CADB-410B-BA42-AF3A609A0080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30FF9E19-CADB-410B-BA42-AF3A609A0080</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>533E4881-BAC3-42A1-9054-503E1A389CFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>533E4881-BAC3-42A1-9054-503E1A389CFC</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Roberto Rivera</string>
	<key>description</key>
	<string>Retrieve OTP codes from a Yubikey Device</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yubikey OTP Codes Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yfa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python yubi.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type to find partial matches...</string>
				<key>title</key>
				<string>Retrieve OTP codes from a Yubikey</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BA3D47D-1AA5-429C-98B8-1BA91B15D0EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>30FF9E19-CADB-410B-BA42-AF3A609A0080</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>533E4881-BAC3-42A1-9054-503E1A389CFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See documentation at: https://github.com/robertoriv/alfred-yubikey-otp</string>
	<key>uidata</key>
	<dict>
		<key>2BA3D47D-1AA5-429C-98B8-1BA91B15D0EE</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>30FF9E19-CADB-410B-BA42-AF3A609A0080</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>533E4881-BAC3-42A1-9054-503E1A389CFC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>v0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/robertoriv/alfred-yubikey-otp</string>
</dict>
</plist>
